@import '/styles/variables';
@import '/styles/mixins';

.back {
  background:
    image-set(
      url('/images/texture.webp') type('image/webp'),
      url('/images/texture.png') type('image/png')
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 80%),
    image-set(
        url('/images/ocapella_page_back.webp') type('image/webp'),
        url('/images/ocapella_page_back.png') type('image/png')
      )
      right / cover no-repeat;
}

.container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 110px;
  padding-bottom: 160px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50vw;
  height: 100%;
}

.nets_wrapper {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 90px;
}

.net_link {
  @include svg-link(box-shadow, 0px 0px 0px 0px rgba(188, 113, 241, 0.5));
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  &:hover {
    @include svg-link-hover(box-shadow, 0px 0px 10px 5px rgba(188, 113, 241, 0.5));
    .net_tooltip {
      top: 110%;
      opacity: 1;
      visibility: visible;
      animation: tooltipUp 0.2s linear;
    }
  }
}

.net_logo {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-image: $accent-gradient-color;

  &:hover {
  }
}

.net_tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(10%);
  max-width: 220px;
  padding: 10px 12px;
  background-image: $accent-gradient-color;
  border-radius: 10px;
  pointer-events: all !important;
  visibility: hidden;
  text-align: center;
  z-index: 100;
}

@keyframes tooltipUp {
  0% {
    top: 70%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: $laptop-query) {
  .nets_wrapper {
    margin-top: 60px;
  }

  .net_logo {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: $tablet-query) {
  .back {
    background-position-y: 40px;
  }

  .nets_wrapper {
    margin-top: 30px;
  }

  .net_logo {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 800px) {
  .nets_wrapper {
    gap: 12px;
  }

  .net_logo {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 900px) {
  .back {
    background-image:
      image-set(
        url('/images/texture.webp') type('image/webp'),
        url('/images/texture.png') type('image/png')
      ),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 80%),
      image-set(
          url('/images/ocapella_page_back_mobile.webp') type('image/webp'),
          url('/images/ocapella_page_back_mobile.png') type('image/png')
        )
        right / cover no-repeat;
  }

  .container {
    width: 85vw;
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .subContainer {
    width: 85vw;
  }
}
